@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap");

body {
  background: linear-gradient(
    135deg,
    #ffffe0 0%,
    #fff9c4 100%
  ); /* Image public folder me honi chahiye */
  background-size: cover;
  background-position: center;
  background-attachment: fixed; /* Scroll karne par image fategi nahi aur apni jagah rahegi */
  background-repeat: no-repeat;
  min-height: 100vh;
}
.riyaj {
  width: 100%;
  height: 400px;
}
.clor {
  width: 20px;
  height: 20px;
  background: gray;
}

body {
  font-family: "Poppins", sans-serif;
}
.card-title {
  font-weight: bold;
}
.product-listing {
  transition: all 0.3s linear;
}
.product-listing:hover {
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
}
.product-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
}
.cart-image {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px;
}
.brand-img {
  width: 100%;
  height: 100px;
  object-fit: cover;
}

.footer-title {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 15px;
}
.footer-title::after {
  z-index: 999;
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: #0d6efd;
  width: 15%;
  height: 2px;
}
.footer-app {
  width: 150px;
  object-fit: contain;
}

@media screen and (max-width: 789px) {
  .cart-image {
    width: 120px;
    height: 120px;
  }
}
